{% load static %}

<div class="header">
  <div class="header-left">
    <div class="logo">
      <a href="{% url 'home' %}">
        <h1><span>PROSPECTIVE</span></h1>
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="header-right">
    <div class="top-menu">
      <ul>
        <li><a href="{% url 'home' %}">Francais</a></li> |
        <li><a href="{% url 'ndaku' %}">Lingala</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<span class="menu"></span>
<div class="menu-strip">
  <ul>
    <li><a href="{% url 'ndaku' %}">Ebandeli</a></li>
    <li><a href="">Politiki</a></li>
    <li><a href="">Ekonzo</a></li>
    <li><a href="">Mokili</a></li>
    <li><a href="">Masano</a></li>
    <li><a href="">Technologie</a></li>
  </ul>
</div>
<!-- script for menu -->
<script>
  $("span.menu").click(function() {
    $(".menu-strip").slideToggle("slow", function() {
      // Animation complete.
    });
  });
</script>
<!-- script for menu -->
<div class="clearfix"></div>
